#Ignore everything
*/*

#Include .gitignore
!.gitignore

#Include all code in bin
!bin/*.R


#Include all code in src
!src/*.R
!src/*.Rmd


#Include documentation
!results/*.txt
!results/*.rst
!results/*.md
!src/*.md
!src/*.bib

#Include figures
!src/index_files/figure-markdown_github/*.png
